attrs==21.4.0
black==22.10.0
click==8.1.2
colorama==0.4.4
flake8==5.0.4
isort==5.10.1
mccabe==0.7.0
more-itertools==8.12.0
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.10.1
platformdirs==2.5.2
pluggy==0.13.1
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.8
pytest==5.4.3
shellingham==1.4.0
tomli==2.0.1
typer==0.4.1
typing_extensions==4.4.0
wcwidth==0.2.5
